# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/

# uv
.venv/
uv.lock

# Env
.env
.env.*
!.env.example

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# Datasets (trop lourds)
data/
*.avi
*.mp4
*.csv

# Logs
*.log

# Modèles ML (volumineux)
models/*.dat
